<section>

    <!-- <video autoplay muted loop id="background-video" playsinline>

        <source src="./assets/main.mp4" type="video/mp4" preload="auto">
        <source src="./assets/main.webm" type="video/webm" preload="auto">
        <source src="./assets/main.ogv" type="video/ogg" preload="auto">

        Tu navegador no admite el elemento de video.
    </video> -->

    <img id="background-video" src="./assets/main.gif" alt="main">

    <img class="asterisk asterisk1" src="./assets/asterisk.svg" alt="asterisk">
    <img class="asterisk asterisk2" src="./assets/asterisk.svg" alt="asterisk">
</section>

