section {
    margin-top: 90px;
    height: calc(100vh - 90px);
    position: relative;
    background: rgb(77,163,215);
    background: radial-gradient(circle, rgba(77,163,215,1) 0%, rgba(77,198,215,1) 50%); 
    overflow: hidden;  
    #background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .asterisk {
        height: 200px;
        position: absolute;
    }
    .asterisk.asterisk1 {
        bottom: -100px;
        left: 0;
    }
    .asterisk.asterisk2 {
        top: -100px;
        right: 0;   
    }
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    section {
        height: 300px;
        .asterisk {
            display: none;
        }
    }

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}
