<div [@pageTransition] class="page-transition">
    
    <app-navbar></app-navbar>

    <ng-template #loading>
        <div class="loading">
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>

    <div *ngIf="project; else loading" class="single">
        <app-banner-single [project]="project" />
        <app-description-single [project]="project" />
        <app-screens-single [project]="project" />
        <app-statistics/>
        <app-other-projects-single />
        <app-contact />
        <app-footer />
    </div>

</div>
