<div>

    
    <app-navbar></app-navbar>


    <ng-template #loading>
        <div class="loading">
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>


    <div *ngIf="project; else loading" class="single">
        
        <section>
    
            <div class="head container">
                <h2> {{ project.name }} </h2>
            </div>
            <div class="banner">
                <img [src]="project.banner" [alt]="project.name">
            </div>
    
        </section>

        <app-statistics/>
        
        <app-contact />
        <app-footer />

    </div>


</div>
