<section>

    <div class="container">

        <div class="row">

            <div class="col-lg-6 mb-5 mb-md-0">

                <h6>
                    <img class="asterik" src="assets/icon-asterik.svg" alt="icon-asterik">
                    <span>lorem ipsum</span>
                    <img class="sign" src="assets/sign3.svg" alt="sign">
                </h6>

                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                </p>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Servicios</th>
                            <th scope="col">Industria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aventura Motors</td>
                            <td>Diseño UX & UI</td>
                            <td>Automotora</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-lg-6">
                <img class="img-fluid platform" src="assets/img-platform1-1.png" alt="platform">
            </div>

        </div>

        <div class="line">
            <img src="./assets/icon-arrow-down-box.svg" alt="arrow-right">
        </div>

    </div>

</section>