<section>
    
    <div class="container">

        <div class="row my-3">
    
            <div class="col-lg-3">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="./assets/logo2.svg" alt="logo">
                </a>
            </div>

            <div class="col-lg-6">
                <ul>
                    <li>
                        <a href="#">Nextperience</a>
                    </li>
                    <li>
                        <a href="#">¿Qué ofrecemos?</a>
                    </li>
                    <li>
                        <a href="#">Proyectos</a>
                    </li>
                    <li>
                        <a href="#">Clientes</a>
                    </li>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <div id="rrss">
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-facebook.svg" alt="icon">
                    </a>
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-linkedin.svg" alt="icon">
                    </a>
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-youtube.svg" alt="icon">
                    </a>
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-instagram.svg" alt="icon">
                    </a>
                </div>                
            </div>
    
        </div>

        <p class="text-center">Copyright © Nextperience 2023</p>

    </div>

</section>
