<section>
    
    <div class="container">

        <div class="row my-3">
    
            <div class="col-lg-3">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="./assets/logo2.svg" alt="logo">
                </a>
            </div>

            <div class="col-lg-6">
                <ul>
                    <li>
                        <a routerLink="/#nextperience" (click)="scrollTo('nextperience')">Nextperience</a>
                    </li>
                    <li>
                        <a routerLink="/#servicios" (click)="scrollTo('servicios')">¿Qué ofrecemos?</a>
                    </li>
                    <li>
                        <a routerLink="/#proyectos" (click)="scrollTo('proyectos')">Proyectos</a>
                    </li>
                    <li>
                        <a routerLink="/#clientes" (click)="scrollTo('clientes')">Clientes</a>
                    </li>
                    <li>
                        <a routerLink="/#nosotros" (click)="scrollTo('nosotros')">Nosotros</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <div id="rrss">
                    <!-- <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-facebook.svg" alt="icon">
                    </a> -->
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-linkedin.svg" alt="icon">
                    </a>
                    <!-- <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-youtube.svg" alt="icon">
                    </a> -->
                    <a href="#" target="blank">
                        <img class="icon" src="./assets/icon-instagram.svg" alt="icon">
                    </a>
                </div>                
            </div>
    
        </div>

        <p class="text-center">Copyright © Nextperience 2023</p>

    </div>

</section>
