#rrss {
    background-color: #373434;
    height: auto;
    width: 60px;
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 9;
    filter: drop-shadow(2px 4px 6px black);
    a {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            img {
                filter: inherit;
            }
        }
        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
            transition-duration: .3s;
        }
    }
}

@media (max-width: 992px) {

    #rrss {
        display: none;
    }

}
