section {
    padding: 300px 200px;
    position: relative;
    background: rgb(77,163,215);
    background: radial-gradient(circle, rgba(77,163,215,1) 0%, rgba(77,198,215,1) 50%);   
    overflow: hidden;
    .box-title {
        display: flex;
        align-items: center;
        .asterik {
            height: 100px;
        }
        p {        
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            margin: 0;
            margin-left: 20px;
            text-transform: uppercase;
        }
    }
    .box-statistics {
        color: #fff;
        text-align: center;
        h6 {        
            font-size: 100px;
            font-weight: 800;
            margin: 0;
            display: flex;
            align-items: baseline;
            span {
                font-size: 80px;
            }
        }
        p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .sign {
        position: absolute;
        transition-duration: .3s;
    }
    .sign.sign1 {
        top: -40px;
        left: 20px;
    }
    .sign.sign2 {
        left: 0;
        bottom: -74px;
    }
    .sign.sign3 {
        right: 0;
        bottom: -20px;
    }
}

@media (max-width: 1400px) {

    section {
        .box-statistics {
            h6 {        
                font-size: 80px;
                span {
                    font-size: 40px;
                }
            }
        }        
    }

}

@media (max-width: 1200px) {

    section {
        .box-statistics {
            h6 {        
                font-size: 60px;
            }
        }
    }

}

@media (max-width: 992px) {

    section {
        padding: 100px 20px;
        .box-title {
            flex-direction: column;
            .asterik {
                height: 80px;
                margin-bottom: 20px;
            }
            p {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .box-statistics {
            h6 {        
                font-size: 40px;
                justify-content: center;
                span {
                    font-size: 30px;
                }
            }
        }  
        .sign {
            max-width: 300px;
        }      
    }

}

@media (max-width: 768px) {

	section p {
		font-size: 20px;
		line-height: 26px;
	}

	section a img {
		height: 30px;
	}

}

@media (max-width: 576px) {

    section {
        .box-title {
            p {
                font-size: 26px;
                line-height: 30px;
            }
        }  
    }

}
