<section>
    
    <div class="row">
        <div class="col-12">
            <div class="box-title">
                <img class="asterik" src="./assets/icon-asterik-box2.svg" alt="arrow-right">
                <p>En los últimos 6 <br> meses hemos logrado</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-between align-items-center mt-5">
        <div class="col-12 col-md-3 mb-4">
            <div class="box-statistics">
                <h6>65 <span>mm</span></h6>
                <p>Revenue de Clientes</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="box-statistics">
                <h6>8 <span>mm</span></h6>
                <p>Personas alcanzadas</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="box-statistics">
                <h6>4 <span>%</span></h6>
                <p>% de Conversión.</p>
            </div>
        </div>
    </div>

    <img class="sign sign1" src="./assets/sign1-white.svg" alt="sign">
    <img class="sign sign2" src="./assets/sign2-white.svg" alt="sign">
    <img class="sign sign3" src="./assets/sign3-white.svg" alt="sign">

</section>
