<nav class="navbar navbar-expand-lg">
    
	<div class="container">
		
		<a class="navbar-brand" href="#">
			<img class="logo" src="./assets/logo.svg" alt="logo">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			<ul class="navbar-nav mb-2 mb-lg-0">
				
				<li class="nav-item">
					<a class="nav-link" routerLink="/#nextperience" (click)="scrollTo('nextperience')">Nextperience</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" routerLink="/#servicios" (click)="scrollTo('servicios')">¿Que ofrecemos?</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" routerLink="/#proyectos" (click)="scrollTo('proyectos')">Proyectos</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/#clientes" (click)="scrollTo('clientes')">Clientes</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/#nosotros" (click)="scrollTo('nosotros')">Nosotros</a>
				</li>

			</ul>

			<a class="btn-contact" routerLink="/#contacto" (click)="scrollTo('contacto')">
				<img class="logo" src="./assets/icon-message.svg" alt="icon">
				Contáctanos
			</a>

		</div>

    </div>

</nav>

<app-rrss />