<section>

    <div class="container">
        
        <div class="grid">
    
            <div *ngFor="let client of clients" class="box-client">
                <img class="logo" [src]="client.img" [alt]="client.name">
                <div class="plus plus1">
                    <img src="./assets/icon-plus.svg" alt="icon-plus">
                </div>
                <div class="plus plus2">
                    <img src="./assets/icon-plus.svg" alt="icon-plus">
                </div>
                <div class="plus plus3">
                    <img src="./assets/icon-plus.svg" alt="icon-plus">
                </div>
                <div class="plus plus4">
                    <img src="./assets/icon-plus.svg" alt="icon-plus">
                </div>
            </div>
    
        </div>

    </div>

</section>
