<section>

    <div class="container h-100">

        <div class="row">

            <div class="col-md-8">

                <swiper-container
                    #swiper
                    slides-per-view="1"
                    mousewheel-force-to-axis="true"
                    [spaceBetween]="20">
            
                    <swiper-slide>
                        <h6>
                            <img class="asterik" src="assets/icon-asterik.svg" alt="icon-asterik">
                            <span>Nosotros</span>
                            <img class="sign" src="assets/sign3.svg" alt="sign">
                        </h6>
                        <p>
                            Somos una agencia de <span>Marketing Digital</span>, apasionada por potenciar tu presencia en las distintas plataformas y ayudarte a alcanzar <span>tus objetivos comerciales.</span> Nuestro enfoque se basa en brindar soluciones creativas y efectivas que <span>impulsen tu marca hacia el éxito en el mundo digital.</span>
                        </p>
                    </swiper-slide>

                    <swiper-slide>
                        <h6>
                            <img class="asterik" src="assets/icon-asterik.svg" alt="icon-asterik">
                            <span>Nuestro equipo</span>
                            <img class="sign" src="assets/sign3.svg" alt="sign">
                        </h6>
                        <p>
                            Contamos con un equipo <span>multidisciplinario de profesionales</span> y <span>apasionados</span> por el Marketing Digital y las últimas tendencias tecnológicas. Desde expertos en redes sociales y analistas hasta diseñadores gráficos y desarrolladores web. Todos estamos comprometidos <span>con brindar el mejor servicio y superar tus expectativas.</span>
                        </p>
                    </swiper-slide>

                </swiper-container>

            </div>
        
        </div>

    </div>

    <img class="asterik-big" src="assets/icon-asterik-big.svg" alt="icon-asterik-big">

</section>

