section {
    position: relative;
    padding: 200px 0;
    margin: 40px 0;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .swiper3 {
            .swiper-slide {
                h6 {
                    color: #373434;
                    font-size: 60px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    max-width: fit-content;
                    .asterik {
                        width: 70px;
                        margin-right: 20px;
                        transition-duration: .3s;
                    }
                    .sign {
                        position: absolute;
                        width: 140px;
                        bottom: 0;
                        left: 50%;
                        z-index: -1;
                        transition-duration: .3s;
                    }
                }
                p {
                    color: #373434;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 500;
                    span {
                        font-weight: 800;
                    }
                }
                &:hover {
                    .asterik {
                        transform: rotate(180deg);
                    }
                    .sign {
                        bottom: -10px !important;
                    }
                }
            }
        }
    }
    .asterik-big {
        height: 100%;
        position: absolute;
        top: 0;
        right: -300px;
        transition-duration: .3s;
        &:hover {
            filter: drop-shadow(2px 4px 6px black);
            transform: rotate(180deg);
        }
    }
    .box-controls {
        position: absolute;
        bottom: -10px;
        z-index: 10;
        width: 300px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: calc(50% - 150px);
        .swiper-button {
            img {
                filter: invert(100%) grayscale(100%);
                transition-duration: .3s;
            }
            &:after {
                content: '' !important;
            }
            &:hover {
                img {
                    filter: inherit;
                }
            }
        }
    }
}


@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

    .asterik-big {
        display: none;
    }

}

@media (max-width: 992px) {

    section {
        padding: 40px 0;
        .container {
            .swiper3 {
                .swiper-slide {
                    h6 {
                        font-size: 30px;
                        .asterik {
                            width: 40px;
                        }
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}
