<div [@pageTransition] class="page-transition home" style="background-image: url('./assets/main.gif');">

    <app-navbar></app-navbar>
    
    <app-main id="nextperience"/>

    <app-talk/>
    <app-services id="servicios"/>
    <app-projects id="proyectos"/>
    <app-statistics/>
    <app-clients id="clientes"/>
    <app-about id="nosotros"/>
    <app-contact id="contacto" />
    <app-footer />

    <!-- <img id="background-video" src="./assets/main.gif" alt="main"> -->

    <!-- <div class="box-video">
        <img class="asterisk asterisk1" src="./assets/asterisk.svg" alt="asterisk">
        <img class="asterisk asterisk2" src="./assets/asterisk.svg" alt="asterisk">
    </div> -->


</div>
