section {
	margin-top: 300px;
	margin-bottom: 300px;
	background-color: #f2f2f2;
    position: relative;
    z-index: 1;
	.logo {
		width: 100%;
		max-width: 1000px;
	}
	p {
		font-size: 30px;
		color: #000;
		line-height: 34px;
		span {
			font-weight: 600;
		}
	}
	a {
		max-width: fit-content;
		text-decoration: none;
		color: #000;
		font-size: 16px;
		font-weight: 700;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		span {
			margin-right: 20px;
			transition-duration: .3s;
		}
		img {
			height: 40px;
			max-width: fit-content;
		}
		&:hover {
			span {
				color: #4DC6D7;
				margin-right: 30px;
			}
		}
	}
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

	section {
		margin-top: 100px;
		margin-bottom: 100px;
	}

}

@media (max-width: 768px) {

	section {
		p {
			font-size: 20px;
			line-height: 26px;
		}
		a {
			img {
				height: 30px;
			}
		}
	}

}

@media (max-width: 576px) {

}
