section {
    padding: 200px 100px;
    position: relative;
    background: rgb(77,163,215);
    background: radial-gradient(circle, rgba(77,163,215,1) 0%, rgba(77,198,215,1) 50%);   
    overflow: hidden;
    transition-duration: .3s;
    .box-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .asterik {
            height: 100px;
        }
        p {
            font-size: 60px;
            font-weight: 600;
            line-height: 50px;
            margin: 0;
            margin-left: 20px;
        }
    }
    h4 {
        color: #fff;
        font-size: 30px;
        text-align: center;
        font-weight: 400;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        & > div {
            flex-wrap: inherit;
            input {
                width: 100%;
                background-color: transparent;
                border-radius: 0;
                border: 2px solid #fff;
                color: #fff;
                &::placeholder {
                    color: #fff;
                }
            }
            span {
                background-color: transparent;
                border-radius: 0;
                border: 2px solid #fff;
            }
        }
    }
    .sign {
        position: absolute;
        transition-duration: .3s;
    }
    .sign.sign1 {
        top: -30px;
        left: 20px;
        max-width: 300px;
    }
    .sign.sign2 {
        top: -40px;
        right: 40px;
        max-width: 300px;
    }
    .sign.sign3 {
        right: 0;
        bottom: -70px;
        max-width: 300px;
        filter: invert(1);
    }
    &:hover {
        .sign.sign1 {
            top: -10px;
            left: 10px;
        }
        .sign.sign2 {
            top: -10px;
            right: 10px;
        }
        .sign.sign3 {
            right: 10px;
            bottom: -50px;
        }
    }
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    section {
        padding: 100px 20px;
        .box-title {
            flex-direction: column;
            .asterik {
                height: 80px;
                margin-bottom: 20px;
            }
            p {
                font-size: 30px;
                line-height: 30px;
                margin: 0;
                br {
                    display: none;
                }
            }
        }
        .sign {
            max-width: 300px;
        }      
    }

}

@media (max-width: 768px) {

	section {
        p {
            font-size: 20px;
		    line-height: 26px;
        }
        img {
            height: 30px;
        }
        h4 {
            color: #fff;
            font-size: 20px;
            text-align: center;
            font-weight: 400;
        }
	}

}

@media (max-width: 576px) {

    section {
        .box-title {
            p {
                font-size: 26px;
                line-height: 30px;
            }
        }  
    }

}
