<section>
    
    <div class="row">
        <div class="col-12">
            <div class="box-title">
                <img class="asterik" src="./assets/icon-asterik-box1.svg" alt="arrow-right">
                <p>Trabajemos <br> juntos</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-3 mt-md-5">
        <div class="col-12 mb-4">
            <h4>Déjanos tu correo y nos <br>comunicaremos contigo</h4>

            <form>
                <div class="input-group mb-3">
                    <input type="email" class="input-group-text" placeholder="Ej: correo@electronico.com">
                    <span class="input-group-text" id="basic-addon1">
                        <img class="asterik" src="./assets/icon-arrow-right.svg" alt="arrow">
                    </span>
                </div>
            </form>

        </div>
    </div>

    <img class="sign sign1" src="./assets/sign1-white.svg" alt="sign">
    <img class="sign sign2" src="./assets/sign2-white.svg" alt="sign">
    <img class="sign sign3" src="./assets/sign3-white.svg" alt="sign">

</section>
