<section class="container">

    <h6>
        <img class="seal" src="assets/seal.svg" alt="seal">
        <span>Nuestros Proyectos</span>
        <img class="sign sign3" src="assets/sign3.svg" alt="sign">
        <img class="sign sign4" src="assets/sign4.svg" alt="sign">
    </h6>

    <div class="row mb-5">

        <div class="col-md-12">

            <div class="swiper swiper2">
                
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide" *ngFor="let project of projects">
                        <div class="box-img">
                            <img class="img" [src]="project.img" [alt]="project.name">
                            <!-- <div class="play">
                                <img src="./assets/icon-play.svg" alt="play">
                            </div> -->
                        </div>
                        <h6>{{ project.client }}</h6>
                        <!-- <span class="category" *ngFor="let category of project.categories">{{ category }}</span>
                        <p>
                            {{ project.description }}
                            <a class="more" routerLink="/project/{{ project.id }}">
                                <span>Ver más</span>
                                <img class="logo" src="./assets/icon-arrow-right-box.svg" alt="arrow-right">
                            </a>
                        </p> -->
                    </div>

                </div>
            
                <div class="swiper-button swiper-button-prev swiper-button-prev-swiper2">
                    <img src="assets/icon-arrow-slider-left-hover.svg" alt="arrow-slider-left">
                </div>
                <div class="swiper-button swiper-button-next swiper-button-next-swiper2">
                    <img src="assets/icon-arrow-slider-right-hover.svg" alt="arrow-slider-right">
                </div>

            </div>

        </div>

    </div>

    <!-- <div class="row border-top">
        <div class="col-12">
            <div class="box-title">
                <div class="d-flex box">
                    <img class="asterik" src="./assets/icon-asterik-box1.svg" alt="arrow-right">
                    <p>revisa aquí todos <br>nuestros proyectos</p>
                    <img class="sign" src="./assets/sign3.svg" alt="sign">
                </div>
                <a href="#">
                    <span>Ver más</span>
                    <img class="logo" src="./assets/icon-arrow-right-box.svg" alt="arrow-right">
                </a>
            </div>
        </div>
    </div> -->

</section>
