<section class="container">
    
    <div class="row">
        <div class="col-12">
            <div class="box-title">
                <div class="d-flex box">
                    <img class="asterik" src="./assets/icon-asterik-box1.svg" alt="arrow-right">
                    <p>revisa aquí todos <br>nuestros proyectos</p>
                    <img class="sign" src="./assets/sign3.svg" alt="sign">
                </div>
                <a href="#">
                    <span>Ver más</span>
                    <img class="logo" src="./assets/icon-arrow-right-box.svg" alt="arrow-right">
                </a>
            </div>
        </div>
    </div>

</section>
