<section>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="box-title">
                <p>¿Qué ofrecemos?</p>
                <img class="sign sign1" src="./assets/sign1.svg" alt="sign">
                <img class="sign sign2" src="./assets/sign2.svg" alt="sign">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 text-center d-none d-md-block">
            <img class="vertical" src="./assets/img-vertical-nxtp.svg" alt="img-vertical-nxtp">
        </div>

        <div class="col-md-10">

            <div class="swiper swiper1">
                
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let service of services">
                        <div class="box-img">
                            <img [src]="service.img" [alt]="service.name">
                        </div>
                        <h6>{{ service.name }}</h6>
                        <p>{{ service.description }}</p>
                        <ul>
                            <li *ngFor="let characteristic of service.characteristics">
                                <span>{{ characteristic }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    
    </div>

    <div class="box-controls">
        <div class="swiper-button swiper-button-prev">
            <img src="assets/icon-arrow-slider-left-hover.svg" alt="arrow-slider-left">
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button swiper-button-next">
            <img src="assets/icon-arrow-slider-right-hover.svg" alt="arrow-slider-right">
        </div>
    </div>

</section>

