<section>

    <swiper-container
        #swiper
        slides-per-view="3"
        grid-rows="1"
        mousewheel-force-to-axis="true">

        <swiper-slide>
            <div class="box-img">
                <img class="logo" src="./assets/logo.svg" alt="logo">
            </div>
            <h6>Strategic Research</h6>
        </swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
        <swiper-slide>Slide 6</swiper-slide>
        <swiper-slide>Slide 7</swiper-slide>
        <swiper-slide>Slide 8</swiper-slide>
        <swiper-slide>Slide 9</swiper-slide>

    </swiper-container>

</section>

